/*================
PC、スマホ共通スタイル
=================*/
* 
{
  box-sizing: border-box;
  
}

body 
{
  max-width: 1080px;
  margin: 0 auto 0 auto;
  font-family: 'Kaisei+Decol', serif !important;
  font-size: 15px;
  background-color: #FFFCF9;
}

/* ヘッダー */
header 
{
  display: flex;
  justify-content: space-between;
}

/* ナビゲーションのレイアウト */
#nav-pc 
{
  text-align: right;
  font-size: 14px;
  padding-top: 15px;
}

/* ナビゲーションのリンクの装飾設定 */
#nav-pc ul 
{
  display: flex;
  padding-left: 0;
}

#nav-pc li 
{
  margin-left: 20px;
  list-style: none;
}

#nav-pc a 
{
  text-decoration: none;
  font-weight: bold;
  color: #482019;
}

#nav-pc a:hover 
{
  text-decoration: underline;
}

/* メインビジュアル*/
#main-visual {
  position: relative;
  height: 400px; /* セクションの高さ */
  display: flex; /* Flexboxを使って要素を配置 */
  align-items: center; /* 縦方向に中央揃え */
}

#main-message 
{
  background-color: #D04337;
  color: #FFFCF9;
  border-radius: 0 0 150px 0;
  width: calc(100% - 360px); /* 画像の幅を引いた残りの幅 */
  min-height: 400px; /* 最低の高さを設定 */
  padding: 20px; /* パディングはそのまま */
  z-index: 11;
  position: relative; /* Flexboxで配置するために位置指定を相対に設定 */
}

#main-message > h1 
{
  font-size: 60px;
  font-weight: bold;
  margin: 100px 0 0 0; /* 左のマージンをリセット */
}

#main-message > p 
{
  font-size: 40px;
  margin: 0; /* マージンをリセット */
}

.special-text
{
  font-size: 20px !important;
}

#main-visual > img {
  width: 700px; /* 画像の幅 */
  height: 400px; /* 画像の高さ */
  position: absolute;
  top: 0;
  right: 0;
  object-fit: cover; /* 画像のアスペクト比を保持しつつ、領域に合わせる */
  z-index: 10;
}


/* 見出し */
h2 
{
  margin: 40px 0 0 0;
  color: #D04337;
}

h2::after 
{
  content: url("images/line.png");
  margin-left: 10px;
}



h3 
{
  font-size: 27px;
  color: #482019;
}

/* コンセプト */
#concept 
{
  margin: 80px auto 0 auto;
  padding: 10px 40px 0px 40px;
}

#concept-flex 
{
  display: flex;
  text-align: center;
  color: #96705C;
}

#concept-flex > div 
{
  width: 50%;
  margin: 20px;
}

.concept-photo 
{
  width: 300px;
  height: 200px;

}

/* プロダクト */
#product 
{
  margin: 20px 0 80px 0;
  padding: 10px 40px 0px 40px;
}

/* 外枠 */
#product > div 
{
  margin-top: 40px;
  display: flex;
}

/* 左のカラム */
#product-left 
{
  width: 50%;
  margin-right: 20px;
}

/* 右のカラム */
#product-right
{
  width: 50%;
  margin-left: 20px;
  margin-top: 80px;
}

/* 画像＋説明の枠 */
#product-left > div 
{
  color: #482019;
  position: relative;
  height: 480px;
  margin-right: 20px;
}

#product-right > div 
{
  color: #482019;
  position: relative;
  height: 480px;
  margin-left: 20px;
}

/* 画像 */
.product-photo 
{
  width: 100%; /* 幅を親要素に合わせる */
  height: 80%; /* 高さも親要素に合わせる */
  object-fit: cover; /* アスペクト比を維持しながら、画像を枠にフィットさせる */
  border-radius: 0 0 40px 40px;
}

/* 説明文の枠 */
.product-explain 
{
  color: #96705C;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 50px;
  margin: 0 40px 0 40px;
  padding: 20px;
  box-shadow: 5px 5px 10px #96705C;
}

/* 説明文の英語 */
.product-explain > span 
{
  color: #D04337;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

/* 説明文の見出し */
.product-explain > h3 
{
  margin: 5px 0 5px 0;
}

/* 説明文 */
.product-explain > p 
{
  margin: 0;
}

/* 会社概要 */
#company 
{
  margin: 80px auto 80px auto;
  padding: 10px 40px 0px 40px;
}

#company-table 
{
  width: 100%;
}

.tableheader 
{
  color: #482019;
  text-align: left;
  padding: 20px;
  border-bottom-color: #482019;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  width: 100px;
}

.tableheader-first 
{
  border-top-color: #482019;
  border-top-width: 1px;
  border-top-style: solid;
}

.cell 
{
  color: #482019;
  padding: 30px;
  border-bottom-color: #ececec;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.cell-first 
{
  border-top-color: #ececec;
  border-top-width: 1px;
  border-top-style: solid;
}

/* フッター */
footer 
{
  background-color: #D04337;
  text-align: center;
  padding: 80px 80px 30px 80px;
}

#footer-logo 
{
  margin-bottom: 30px;
}

#footer-link 
{
margin-bottom: 50px;
}

#footer-link > a 
{
  text-decoration: none;
  margin: 10px;
  color: #ffffff;
}

#footer-link > a:hover 
{
  text-decoration: underline;
}

#sns-footer 
{
  text-align: left;
  width: 100%;
}

#sns-footer > a 
{
  margin-right: 30px;
}

#copyright 
{
  color: #FFFCF9;
  float: right;
}

/*================
スマートフォン用のスタイル
=================*/
@media screen and (max-width: 767px)
{

  /* ナビゲーションのリンクの装飾設定 */
  #nav-pc li 
  {
    margin: 0 10px;
  }

  /* メインビジュアル */
  #main-visual 
  {
    position: relative;
    height: 470px;
    overflow: hidden;
  }

  #main-message 
  {
    border-radius: 0 0 476px 0;
    height: 280px;
  }

  #main-visual > div > h1 
  {
    font-size: 28px;
    margin: 70px 0 0 20px;
  }

  #main-visual > div > p 
  {
    margin-left: 20px;
    font-size: 22px;
  }

  #main-visual > img 
  {
    width: 100%;
    border-radius: 476px 0 0 0;
    top: auto;
    bottom: 0;
    right: 0;
  }

  /*見出し*/
  h2::after 
  {
    content: url("images/line.png");
    margin-left: 10px;
  }

  h3 
  {
    font-size: 24px;
    margin: 10px 0 0 0;
  }

  /* コンセプト */
  #concept 
  {
    margin-top: 20px;
    padding: 0 20px 0 20px;
  }


  #concept-flex 
  {
    flex-direction: column;
  }

  #concept-flex > div 
  {
    width: 100%;
    margin: 0;
  }

  .concept-photo 
  {
    width: 100%;
  }

  #concept h3 
  {
    padding: 0 20px 0 20px;
  }

  /* プロダクト */
  #products
  {
    margin: 0;
    padding: 10px 0 0;
  }

  #product > div 
  {
    margin-top: 0;
    flex-direction: column;
  }

  #product h2 
  {
    margin-left: 20px;
  }

  /* 外枠 */
  /* 左右のカラム　スマホでは縦並び */
  #product-left,
  #product-right 
  {
    width: 100%;
    margin: 0;
    padding: 0 20px 0 20px;
  }

  /* 写真＋説明の枠 */
  #product-left > div,
  #product-right > div 
  {
    height: auto;
    margin: 0;
  }

  /* 説明文の枠 */
  .product-explain 
  {
    position: relative;
    width: 100%;
    margin: 0;
    bottom: 70px;
  }

  .product-explain > h3 
  {
    margin: 10px 0 10px 0;
  }

  /*会社概要*/
  #company 
  {
    padding: 0 20px 0 20px;
  }
  #company h2 
  {
    margin: 20px 0 20px 0;
  }

  .tableheader 
  {
    width: 50px;
  }

  .cell 
  {
    padding: 20px;
  }

  /* フッター */
  footer 
  {
    padding: 30px 20px 50px 20px;
  }

  #footer-link > a 
  {
    display: block;
    margin: 0 20px 30px 0;
  }

  #copyright
  {
    font-size: 12px;
    margin-top: 30px;
  }

}
