#top {
  width: 800px;
  background-color: #dcc9f4;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.top-child {
  width: 20%; 
  background-color: #ffd9df; 
  margin-right: 10px;
  text-align: center; 
  }